<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    hss-chat demo
  </h1>
 
</div>

<ng-chat [adapter]="adapter" [userId]="999" [historyEnabled]="true" [historyPageSize]="7" [hideFriendsList]="false"
  (onMessagesSeen)="messageSeen($event)" [isViewportOnMobileEnabled]="true" [emojisEnabled]="true">
</ng-chat>
<!-- [messageTemplate]="messageTemplate" -->
<ng-template #messageTemplate let-message="message">
	<div [ngClass]="{'sent-chat-message-container': message.fromId == userId, 'received-chat-message-container': message.fromId != userId}">
		<img [src]="message.mediaUrl" class="image-message" />
		<span [innerHtml]="message.message"></span>
	</div>
</ng-template>