
<ng-chat *ngIf="adapter" [adapter]="adapter" [userId]="999" [historyEnabled]="true" [hideFriendsList]="false"
  (onMessagesSeen)="messageSeen($event)" [isViewportOnMobileEnabled]="true" [emojisEnabled]="true" 
  [config]="config" [isDisabled]="isDisabled">
</ng-chat>

<button (click)="isDisabled = !isDisabled;">Toggle</button>
<!-- [chatWindowHeaderTemplate]="chatWindowHeaderTemplate" -->

<!-- [messageTemplate]="messageTemplate" -->
<ng-template #messageTemplate let-message="message">
	<div [ngClass]="{'sent-chat-message-container': message.fromId == userId, 'received-chat-message-container': message.fromId != userId}">
		<img [src]="message.mediaUrl" class="image-message" />
		<span [innerHtml]="message.message"></span>
	</div>
</ng-template>

<ng-template #chatWindowHeaderTemplate let-chatWindowRef="window" let-self="self">
	<div class="ng-chat-title secondary-background hss-chat-window-header">
		<div class="ng-chat-title-visibility-toggle-area">
			<div *ngIf="!self.getChatWindowAvatar(chatWindowRef.participant)" class="icon-wrapper">
				<i class="user-icon"></i>
			</div>
			<img *ngIf="self.getChatWindowAvatar(chatWindowRef.participant)" alt="" class="avatar user-profile-img" height="25"
				width="25" [src]="self.getChatWindowAvatar(chatWindowRef.participant)" />
			<strong [title]="chatWindowRef.participant.displayName" [innerText]="chatWindowRef.participant.displayName" (click)="onDisplayNameClick(self);"></strong>
			<span
				[ngClass]="{'ng-chat-participant-status': true, 'online': chatWindowRef.participant.status == ChatParticipantStatus.Online, 'busy': chatWindowRef.participant.status == ChatParticipantStatus.Busy, 'away': chatWindowRef.participant.status == ChatParticipantStatus.Away, 'offline': chatWindowRef.participant.status == ChatParticipantStatus.Offline}"
				[title]="self.chatParticipantStatusDescriptor(chatWindowRef.participant.status, self.localization)"></span>
			<span *ngIf="self.unreadMessagesTotal(chatWindowRef).length > 0"
				class="ng-chat-unread-messages-count unread-messages-counter-container primary-text" [innerText]="self.unreadMessagesTotal(chatWindowRef)"></span>
		</div>
		<i class="pi pi-chevron-{{chatWindowRef.isCollapsed ? 'up' : 'down'}} toggle-chat-window" (click)="self.onChatWindowClicked(chatWindowRef)"></i>
		<i class="pi pi-times close-chat-window" (click)="self.onCloseChatWindow()"></i>
	</div>
</ng-template>